* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  :root {
    --color-1: rgb(198, 243, 198);
    --color-2:  darkgreen;
    --color-3: black;
  }
  
  body {
    font-family: 'Press Start 2P', cursive;
    color: var(--color-1);
  }

  .font {
      font-family: 'Press Start 2P', cursive;
  }

  .black-background{
      background-color: var(--color-3);
  }

  .dark-green-background{
    background-color: var(--color-2);
  }

  .light-green-font{
      color: var(--color-1);
  }

  .p-small{
      padding: 10px;
  }

  .p-small-bottom{
      padding-bottom: 10px;
  }

  .p-large{
      padding: 25px;
  }

  .m-small{
      margin: 10px;
  }

  .m-large{
    margin: 25px;
}

  .flex{
      display: flex;
  }

  .center-text{
    text-align: center;
  }

  .code-background{
    background-image: url('../images/code.jpg');
    background-position: center;
    background-size: cover;
  }

  .rounded-corners{
      border-radius: 10px;
  }

  .clickable:hover{
    background-color: var(--color-1);
    color: var(--color-2);
    cursor: pointer;
  }

  .textBox:focus{
    background-color: var(--color-1);
    color: var(--color-2);
    cursor: pointer;
  }

  .transition{
    transition: all 0.5s ease-in-out;
  }
  .light-green-border{
      border: 2px solid var(--color-1);
  }

  .textBoxStyling{
    width: 60%;
    height: 20rem;
  }